@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&display=swap');
.navbar-brand, h1, h2, h3, h4 {
	font-family: 'Black Han Sans';
}
h5 {
	font-family: 'Black Han Sans';
	font-size: 18px;
}
body {
	font-family: 'Gowun Dodum';
	
}